.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.928000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.922000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.856934;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.999000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.716000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1d{margin-left:-4.375593px;}
._b{margin-left:-3.299628px;}
._1{margin-left:-2.134715px;}
._4{margin-left:-1.040100px;}
._9{width:1.040100px;}
._25{width:9.349015px;}
._24{width:11.285676px;}
._3{width:12.301873px;}
._e{width:14.017736px;}
._2{width:15.926480px;}
._10{width:17.538239px;}
._26{width:20.403408px;}
._28{width:21.498388px;}
._29{width:22.571352px;}
._6{width:23.887249px;}
._0{width:25.272266px;}
._27{width:27.953095px;}
._2a{width:30.432952px;}
._23{width:34.178288px;}
._5{width:60.073666px;}
._21{width:74.882867px;}
._d{width:76.756373px;}
._8{width:78.472785px;}
._1b{width:123.841907px;}
._1c{width:247.876806px;}
._16{width:285.946311px;}
._15{width:299.959193px;}
._a{width:356.357570px;}
._18{width:484.730240px;}
._19{width:516.237624px;}
._f{width:596.003313px;}
._12{width:666.633946px;}
._c{width:683.345753px;}
._1a{width:689.150734px;}
._11{width:725.632727px;}
._17{width:826.117906px;}
._14{width:935.333268px;}
._7{width:972.672902px;}
._22{width:1160.751689px;}
._1e{width:1167.134110px;}
._1f{width:1392.010573px;}
._20{width:1494.803143px;}
._13{width:1575.321235px;}
.fc1{color:rgb(255,255,255);}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:19.925280px;}
.fs3{font-size:23.910320px;}
.fs4{font-size:31.880440px;}
.fs1{font-size:35.865520px;}
.fs0{font-size:68.861760px;}
.y30{bottom:38.854000px;}
.y0{bottom:39.500000px;}
.y2f{bottom:65.369000px;}
.y2e{bottom:104.477000px;}
.y2d{bottom:115.685000px;}
.y2c{bottom:137.302000px;}
.y2b{bottom:148.510000px;}
.y2a{bottom:175.778000px;}
.y29{bottom:194.838000px;}
.y28{bottom:204.056000px;}
.y25{bottom:206.046000px;}
.y26{bottom:207.639000px;}
.y27{bottom:208.067000px;}
.y23{bottom:233.063000px;}
.y24{bottom:234.706000px;}
.y22{bottom:261.663000px;}
.y21{bottom:272.871000px;}
.y20{bottom:284.079000px;}
.y1f{bottom:305.696000px;}
.y1e{bottom:316.904000px;}
.y1d{bottom:328.112000px;}
.y1c{bottom:349.729000px;}
.y1b{bottom:360.937000px;}
.y1a{bottom:372.145000px;}
.y19{bottom:383.353000px;}
.y18{bottom:411.392000px;}
.y17{bottom:440.090000px;}
.y16{bottom:451.298000px;}
.y15{bottom:462.506000px;}
.y14{bottom:484.123000px;}
.y13{bottom:495.331000px;}
.y12{bottom:506.539000px;}
.y11{bottom:517.747000px;}
.y10{bottom:528.955000px;}
.y49{bottom:543.631000px;}
.yf{bottom:550.572000px;}
.y48{bottom:553.594000px;}
.y47{bottom:563.556000px;}
.ye{bottom:572.189000px;}
.y46{bottom:573.519000px;}
.yd{bottom:583.397000px;}
.y45{bottom:583.481000px;}
.y44{bottom:593.444000px;}
.yc{bottom:594.605000px;}
.y43{bottom:603.407000px;}
.yb{bottom:605.813000px;}
.y42{bottom:613.369000px;}
.ya{bottom:617.021000px;}
.y41{bottom:623.332000px;}
.y9{bottom:628.229000px;}
.y40{bottom:633.295000px;}
.y8{bottom:639.437000px;}
.y3f{bottom:643.257000px;}
.y7{bottom:650.645000px;}
.y3e{bottom:653.220000px;}
.y3d{bottom:663.183000px;}
.y3c{bottom:673.145000px;}
.y6{bottom:678.738000px;}
.y3b{bottom:683.108000px;}
.y3a{bottom:693.071000px;}
.y39{bottom:703.033000px;}
.y5{bottom:707.382000px;}
.y38{bottom:712.996000px;}
.y37{bottom:722.958000px;}
.y36{bottom:732.921000px;}
.y4{bottom:734.050000px;}
.y35{bottom:742.884000px;}
.y34{bottom:752.846000px;}
.y33{bottom:762.809000px;}
.y3{bottom:770.665000px;}
.y2{bottom:781.872000px;}
.y31{bottom:784.500000px;}
.y32{bottom:789.034000px;}
.y1{bottom:793.080000px;}
.h5{height:14.943960px;}
.h7{height:15.500000px;}
.h6{height:17.932740px;}
.h8{height:23.910330px;}
.h4{height:26.899140px;}
.h3{height:30.736751px;}
.h2{height:51.646320px;}
.h1{height:705.500000px;}
.h0{height:841.890000px;}
.w2{width:515.500000px;}
.w1{width:516.000000px;}
.w0{width:595.276000px;}
.x0{left:39.500000px;}
.x4{left:43.836000px;}
.x5{left:54.304000px;}
.xf{left:58.568000px;}
.x2{left:81.180000px;}
.x9{left:101.999000px;}
.xa{left:110.527000px;}
.x3{left:129.991000px;}
.x1{left:228.449000px;}
.x6{left:315.956000px;}
.x7{left:397.523000px;}
.x8{left:423.698000px;}
.xb{left:447.793000px;}
.xc{left:450.680000px;}
.xd{left:455.271000px;}
.xe{left:460.354000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1d{margin-left:-5.834125pt;}
._b{margin-left:-4.399504pt;}
._1{margin-left:-2.846286pt;}
._4{margin-left:-1.386800pt;}
._9{width:1.386800pt;}
._25{width:12.465354pt;}
._24{width:15.047568pt;}
._3{width:16.402498pt;}
._e{width:18.690314pt;}
._2{width:21.235307pt;}
._10{width:23.384319pt;}
._26{width:27.204545pt;}
._28{width:28.664518pt;}
._29{width:30.095135pt;}
._6{width:31.849666pt;}
._0{width:33.696355pt;}
._27{width:37.270794pt;}
._2a{width:40.577269pt;}
._23{width:45.571051pt;}
._5{width:80.098221pt;}
._21{width:99.843823pt;}
._d{width:102.341831pt;}
._8{width:104.630380pt;}
._1b{width:165.122543pt;}
._1c{width:330.502408pt;}
._16{width:381.261748pt;}
._15{width:399.945591pt;}
._a{width:475.143426pt;}
._18{width:646.306986pt;}
._19{width:688.316832pt;}
._f{width:794.671084pt;}
._12{width:888.845262pt;}
._c{width:911.127670pt;}
._1a{width:918.867645pt;}
._11{width:967.510302pt;}
._17{width:1101.490541pt;}
._14{width:1247.111024pt;}
._7{width:1296.897203pt;}
._22{width:1547.668919pt;}
._1e{width:1556.178813pt;}
._1f{width:1856.014097pt;}
._20{width:1993.070857pt;}
._13{width:2100.428313pt;}
.fs2{font-size:26.567040pt;}
.fs3{font-size:31.880427pt;}
.fs4{font-size:42.507253pt;}
.fs1{font-size:47.820693pt;}
.fs0{font-size:91.815680pt;}
.y30{bottom:51.805333pt;}
.y0{bottom:52.666667pt;}
.y2f{bottom:87.158667pt;}
.y2e{bottom:139.302667pt;}
.y2d{bottom:154.246667pt;}
.y2c{bottom:183.069333pt;}
.y2b{bottom:198.013333pt;}
.y2a{bottom:234.370667pt;}
.y29{bottom:259.784000pt;}
.y28{bottom:272.074667pt;}
.y25{bottom:274.728000pt;}
.y26{bottom:276.852000pt;}
.y27{bottom:277.422667pt;}
.y23{bottom:310.750667pt;}
.y24{bottom:312.941333pt;}
.y22{bottom:348.884000pt;}
.y21{bottom:363.828000pt;}
.y20{bottom:378.772000pt;}
.y1f{bottom:407.594667pt;}
.y1e{bottom:422.538667pt;}
.y1d{bottom:437.482667pt;}
.y1c{bottom:466.305333pt;}
.y1b{bottom:481.249333pt;}
.y1a{bottom:496.193333pt;}
.y19{bottom:511.137333pt;}
.y18{bottom:548.522667pt;}
.y17{bottom:586.786667pt;}
.y16{bottom:601.730667pt;}
.y15{bottom:616.674667pt;}
.y14{bottom:645.497333pt;}
.y13{bottom:660.441333pt;}
.y12{bottom:675.385333pt;}
.y11{bottom:690.329333pt;}
.y10{bottom:705.273333pt;}
.y49{bottom:724.841333pt;}
.yf{bottom:734.096000pt;}
.y48{bottom:738.125333pt;}
.y47{bottom:751.408000pt;}
.ye{bottom:762.918667pt;}
.y46{bottom:764.692000pt;}
.yd{bottom:777.862667pt;}
.y45{bottom:777.974667pt;}
.y44{bottom:791.258667pt;}
.yc{bottom:792.806667pt;}
.y43{bottom:804.542667pt;}
.yb{bottom:807.750667pt;}
.y42{bottom:817.825333pt;}
.ya{bottom:822.694667pt;}
.y41{bottom:831.109333pt;}
.y9{bottom:837.638667pt;}
.y40{bottom:844.393333pt;}
.y8{bottom:852.582667pt;}
.y3f{bottom:857.676000pt;}
.y7{bottom:867.526667pt;}
.y3e{bottom:870.960000pt;}
.y3d{bottom:884.244000pt;}
.y3c{bottom:897.526667pt;}
.y6{bottom:904.984000pt;}
.y3b{bottom:910.810667pt;}
.y3a{bottom:924.094667pt;}
.y39{bottom:937.377333pt;}
.y5{bottom:943.176000pt;}
.y38{bottom:950.661333pt;}
.y37{bottom:963.944000pt;}
.y36{bottom:977.228000pt;}
.y4{bottom:978.733333pt;}
.y35{bottom:990.512000pt;}
.y34{bottom:1003.794667pt;}
.y33{bottom:1017.078667pt;}
.y3{bottom:1027.553333pt;}
.y2{bottom:1042.496000pt;}
.y31{bottom:1046.000000pt;}
.y32{bottom:1052.045333pt;}
.y1{bottom:1057.440000pt;}
.h5{height:19.925280pt;}
.h7{height:20.666667pt;}
.h6{height:23.910320pt;}
.h8{height:31.880440pt;}
.h4{height:35.865520pt;}
.h3{height:40.982334pt;}
.h2{height:68.861760pt;}
.h1{height:940.666667pt;}
.h0{height:1122.520000pt;}
.w2{width:687.333333pt;}
.w1{width:688.000000pt;}
.w0{width:793.701333pt;}
.x0{left:52.666667pt;}
.x4{left:58.448000pt;}
.x5{left:72.405333pt;}
.xf{left:78.090667pt;}
.x2{left:108.240000pt;}
.x9{left:135.998667pt;}
.xa{left:147.369333pt;}
.x3{left:173.321333pt;}
.x1{left:304.598667pt;}
.x6{left:421.274667pt;}
.x7{left:530.030667pt;}
.x8{left:564.930667pt;}
.xb{left:597.057333pt;}
.xc{left:600.906667pt;}
.xd{left:607.028000pt;}
.xe{left:613.805333pt;}
}
